#board {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
}

svg .line1{
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
    animation: showLine1 0.5s linear forwards;
}
svg .line2 {
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
    animation: showLine2 0.5s linear forwards;
}

.who {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.winshape {
    position: relative;
    left: 50%;
    transform: translate(-41%);
    padding-top: 40px;
}
div.table {
    border-spacing: 6px;
    position: relative;
    box-sizing: border-box;
    border: 0;
}

#circle10 {
    position: absolute;
    transform-origin: center;
    transform: scale(0,0);
    animation: showWinShape 0.2s linear forwards;
}

#cross10 {
    position: absolute;
    transform-origin: center;
    transform: scale(0,0);
    animation: showWinShape 0.2s linear forwards;
    padding: 1rem;
}

#winmessage {
    display: none;
    transform: scale(0,0);
    animation: showWinShape 0.2s linear forwards;
    padding-bottom: 40px;
}

.cross{
    position: absolute;
    transform-origin: center;
    transform: scale(0,0);
    animation: showShape 0.2s linear forwards;
}

.circle {
    position: absolute;
    transform-origin: center;
    transform: scale(0,0);
    animation: showShape 0.2s linear forwards;
}

.tryagain {
    transform-origin: center;
    margin: auto ;
}
@keyframes showLine1 {
    0% {
        stroke-dashoffset: 160;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes showLine2 {
    0% {
        stroke-dashoffset: 160;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes showShape {
    0% {
        transform: scale(0,0);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes hideShape {
    0% {
        transform: scale(1,1);
    }

    100% {
        transform: scale(0,0);
    }
}

@keyframes showWinShape {
    0% {
        transform: scale(0,0);
    }

    100% {
        transform: scale(1,1);
    }
}

